<h1>Keyboard Wiki</h1>
<h2>
	<a href='./keyboards'>
		Keyboard Model Index
	</a>
</h2>

<h2>
	<a href='./switches'>
		Key Switch Index
	</a>
</h2>

<footer>
	<p>
		Under construction!
		Some features don't work yet, like creating new items...
		But you can still create new items by using the
		<a href='./admin'>admin panel</a>!
	</p>
</footer>

<!--
	== FIXME ==
	There is some technical debt in this very file.
	Home is supposed to be a app-less generic file,
	yet it is located within the keyboards app.
	I could not find a way to make this file a generic,
	project-wide html template....
--->
